Konfidence.BaseDataBaseClasses/Web References/WSBaseHost/BaseService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://konfidence.nl/DataItemService" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://konfidence.nl/DataItemService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://konfidence.nl/DataItemService">
      <s:element name="Save">
        <s:complexTableType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="properties" type="tns:ArrayOfParameterObject" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexTableType>
      </s:element>
      <s:complexTableType name="ArrayOfParameterObject">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ParameterObject" nillable="true" type="tns:ParameterObject" />
        </s:sequence>
      </s:complexTableType>
      <s:complexTableType name="ParameterObject">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Field" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DbTableType" type="tns:DbTableType" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" />
        </s:sequence>
      </s:complexTableType>
      <s:simpleTableType name="DbTableType">
        <s:restriction base="s:string">
          <s:enumeration value="AnsiString" />
          <s:enumeration value="Binary" />
          <s:enumeration value="Byte" />
          <s:enumeration value="Boolean" />
          <s:enumeration value="Currency" />
          <s:enumeration value="Date" />
          <s:enumeration value="DateTime" />
          <s:enumeration value="Decimal" />
          <s:enumeration value="Double" />
          <s:enumeration value="Guid" />
          <s:enumeration value="Int16" />
          <s:enumeration value="Int32" />
          <s:enumeration value="Int64" />
          <s:enumeration value="Object" />
          <s:enumeration value="SByte" />
          <s:enumeration value="Single" />
          <s:enumeration value="String" />
          <s:enumeration value="Time" />
          <s:enumeration value="UInt16" />
          <s:enumeration value="UInt32" />
          <s:enumeration value="UInt64" />
          <s:enumeration value="VarNumeric" />
          <s:enumeration value="AnsiStringFixedLength" />
          <s:enumeration value="StringFixedLength" />
          <s:enumeration value="Xml" />
          <s:enumeration value="DateTime2" />
          <s:enumeration value="DateTimeOffset" />
        </s:restriction>
      </s:simpleTableType>
      <s:element name="SaveResponse">
        <s:complexTableType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SaveResult" type="s:int" />
          </s:sequence>
        </s:complexTableType>
      </s:element>
      <s:element name="GetItem">
        <s:complexTableType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexTableType>
      </s:element>
      <s:element name="GetItemResponse">
        <s:complexTableType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetItemResult" type="tns:ArrayOfParameterObject" />
          </s:sequence>
        </s:complexTableType>
      </s:element>
      <s:element name="GetItemByParam">
        <s:complexTableType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ParameterList" type="tns:ArrayOfParameterObject" />
          </s:sequence>
        </s:complexTableType>
      </s:element>
      <s:element name="GetItemByParamResponse">
        <s:complexTableType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetItemByParamResult" type="tns:ArrayOfParameterObject" />
          </s:sequence>
        </s:complexTableType>
      </s:element>
      <s:element name="Delete">
        <s:complexTableType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexTableType>
      </s:element>
      <s:element name="DeleteResponse">
        <s:complexTableType />
      </s:element>
      <s:element name="BuildItemList">
        <s:complexTableType />
      </s:element>
      <s:complexTableType name="ArrayOfArrayOfParameterObject">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfParameterObject" nillable="true" type="tns:ArrayOfParameterObject" />
        </s:sequence>
      </s:complexTableType>
      <s:element name="BuildItemListResponse">
        <s:complexTableType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuildItemListResult" type="tns:ArrayOfArrayOfParameterObject" />
          </s:sequence>
        </s:complexTableType>
      </s:element>
      <s:element name="ExecuteCommand">
        <s:complexTableType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="storedProcedure" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parameters" type="tns:ArrayOfAnyTableType" />
          </s:sequence>
        </s:complexTableType>
      </s:element>
      <s:complexTableType name="ArrayOfAnyTableType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyTableType" nillable="true" />
        </s:sequence>
      </s:complexTableType>
      <s:element name="ExecuteCommandResponse">
        <s:complexTableType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ExecuteCommandResult" type="s:int" />
          </s:sequence>
        </s:complexTableType>
      </s:element>
      <s:element name="ExecuteTextCommand">
        <s:complexTableType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="textCommand" type="s:string" />
          </s:sequence>
        </s:complexTableType>
      </s:element>
      <s:element name="ExecuteTextCommandResponse">
        <s:complexTableType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ExecuteTextCommandResult" type="s:int" />
          </s:sequence>
        </s:complexTableType>
      </s:element>
      <s:element name="TableExists">
        <s:complexTableType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tableName" type="s:string" />
          </s:sequence>
        </s:complexTableType>
      </s:element>
      <s:element name="TableExistsResponse">
        <s:complexTableType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TableExistsResult" type="s:boolean" />
          </s:sequence>
        </s:complexTableType>
      </s:element>
      <s:element name="ViewExists">
        <s:complexTableType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="viewName" type="s:string" />
          </s:sequence>
        </s:complexTableType>
      </s:element>
      <s:element name="ViewExistsResponse">
        <s:complexTableType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ViewExistsResult" type="s:boolean" />
          </s:sequence>
        </s:complexTableType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SaveSoapIn">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="SaveSoapOut">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="GetItemSoapIn">
    <wsdl:part name="parameters" element="tns:GetItem" />
  </wsdl:message>
  <wsdl:message name="GetItemSoapOut">
    <wsdl:part name="parameters" element="tns:GetItemResponse" />
  </wsdl:message>
  <wsdl:message name="GetItemByParamSoapIn">
    <wsdl:part name="parameters" element="tns:GetItemByParam" />
  </wsdl:message>
  <wsdl:message name="GetItemByParamSoapOut">
    <wsdl:part name="parameters" element="tns:GetItemByParamResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapIn">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="BuildItemListSoapIn">
    <wsdl:part name="parameters" element="tns:BuildItemList" />
  </wsdl:message>
  <wsdl:message name="BuildItemListSoapOut">
    <wsdl:part name="parameters" element="tns:BuildItemListResponse" />
  </wsdl:message>
  <wsdl:message name="ExecuteCommandSoapIn">
    <wsdl:part name="parameters" element="tns:ExecuteCommand" />
  </wsdl:message>
  <wsdl:message name="ExecuteCommandSoapOut">
    <wsdl:part name="parameters" element="tns:ExecuteCommandResponse" />
  </wsdl:message>
  <wsdl:message name="ExecuteTextCommandSoapIn">
    <wsdl:part name="parameters" element="tns:ExecuteTextCommand" />
  </wsdl:message>
  <wsdl:message name="ExecuteTextCommandSoapOut">
    <wsdl:part name="parameters" element="tns:ExecuteTextCommandResponse" />
  </wsdl:message>
  <wsdl:message name="TableExistsSoapIn">
    <wsdl:part name="parameters" element="tns:TableExists" />
  </wsdl:message>
  <wsdl:message name="TableExistsSoapOut">
    <wsdl:part name="parameters" element="tns:TableExistsResponse" />
  </wsdl:message>
  <wsdl:message name="ViewExistsSoapIn">
    <wsdl:part name="parameters" element="tns:ViewExists" />
  </wsdl:message>
  <wsdl:message name="ViewExistsSoapOut">
    <wsdl:part name="parameters" element="tns:ViewExistsResponse" />
  </wsdl:message>
  <wsdl:portTableType name="WSBaseHostServiceSoap">
    <wsdl:operation name="Save">
      <wsdl:input message="tns:SaveSoapIn" />
      <wsdl:output message="tns:SaveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetItem">
      <wsdl:input message="tns:GetItemSoapIn" />
      <wsdl:output message="tns:GetItemSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetItemByParam">
      <wsdl:input message="tns:GetItemByParamSoapIn" />
      <wsdl:output message="tns:GetItemByParamSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteSoapIn" />
      <wsdl:output message="tns:DeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuildItemList">
      <wsdl:input message="tns:BuildItemListSoapIn" />
      <wsdl:output message="tns:BuildItemListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteCommand">
      <wsdl:input message="tns:ExecuteCommandSoapIn" />
      <wsdl:output message="tns:ExecuteCommandSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteTextCommand">
      <wsdl:input message="tns:ExecuteTextCommandSoapIn" />
      <wsdl:output message="tns:ExecuteTextCommandSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TableExists">
      <wsdl:input message="tns:TableExistsSoapIn" />
      <wsdl:output message="tns:TableExistsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ViewExists">
      <wsdl:input message="tns:ViewExistsSoapIn" />
      <wsdl:output message="tns:ViewExistsSoapOut" />
    </wsdl:operation>
  </wsdl:portTableType>
  <wsdl:binding name="WSBaseHostServiceSoap" type="tns:WSBaseHostServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://konfidence.nl/DataItemService/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItem">
      <soap:operation soapAction="http://konfidence.nl/DataItemService/GetItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItemByParam">
      <soap:operation soapAction="http://konfidence.nl/DataItemService/GetItemByParam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://konfidence.nl/DataItemService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuildItemList">
      <soap:operation soapAction="http://konfidence.nl/DataItemService/BuildItemList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteCommand">
      <soap:operation soapAction="http://konfidence.nl/DataItemService/ExecuteCommand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteTextCommand">
      <soap:operation soapAction="http://konfidence.nl/DataItemService/ExecuteTextCommand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TableExists">
      <soap:operation soapAction="http://konfidence.nl/DataItemService/TableExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewExists">
      <soap:operation soapAction="http://konfidence.nl/DataItemService/ViewExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSBaseHostServiceSoap12" type="tns:WSBaseHostServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Save">
      <soap12:operation soapAction="http://konfidence.nl/DataItemService/Save" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItem">
      <soap12:operation soapAction="http://konfidence.nl/DataItemService/GetItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItemByParam">
      <soap12:operation soapAction="http://konfidence.nl/DataItemService/GetItemByParam" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap12:operation soapAction="http://konfidence.nl/DataItemService/Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuildItemList">
      <soap12:operation soapAction="http://konfidence.nl/DataItemService/BuildItemList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteCommand">
      <soap12:operation soapAction="http://konfidence.nl/DataItemService/ExecuteCommand" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteTextCommand">
      <soap12:operation soapAction="http://konfidence.nl/DataItemService/ExecuteTextCommand" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TableExists">
      <soap12:operation soapAction="http://konfidence.nl/DataItemService/TableExists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewExists">
      <soap12:operation soapAction="http://konfidence.nl/DataItemService/ViewExists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSBaseHostService">
    <wsdl:port name="WSBaseHostServiceSoap" binding="tns:WSBaseHostServiceSoap">
      <soap:address location="http://localhost/RegistrationWebservice/BaseService.asmx" />
    </wsdl:port>
    <wsdl:port name="WSBaseHostServiceSoap12" binding="tns:WSBaseHostServiceSoap12">
      <soap12:address location="http://localhost/RegistrationWebservice/BaseService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>